<h1>Grupos</h1>
<%= form_for :registro, :remote => :true, :url => {:action => :create} do |f| %>
<table>
	<tr>
		<td><%=("Nome:"+f.text_field(:nome)).html_safe %></td>
		<td><%=("Participantes:"+f.text_field(:nome_participantes)).html_safe %></td>
		<td><%= f.submit 'Criar'%></td>
	</tr>
</table>
<% end %>
<div id="lista_grupos">
	<%= render :partial => "lista" %>
</div>
